@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display+SC:700');


body {
    background-color: white;
    font-family: "Oswald", sans-serif;   
}


h1 {
    position: relative;
    left: 150;
    width: 100%;
    font-size: 50px;
    margin: 0;
    color: lightgrey;
    text-align: center;
    font: "Oswald";
    letter-spacing: 22px;
    padding-top: -40px;
}


.startpage {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    position: relative;
    padding-bottom: -100px;
    overflow: auto;
}

#navigationbar {
    background-color: none;
    max-width: 960px;
    min-width: 320px;
    padding-bottom: 100px;
    margin: 0 auto 0 auto;    
}


ul {
    list-style-type: none;
    margin-left: 285px;
    padding: 0;
    overflow: hidden;
    background-color: none;
    color: white;
}


li {
    float: left;   
}


a {
    display: block;
    padding: 8px;
    background-color: none;
}


li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 16px;
    padding:  0px 14px;
    text-decoration: none;
}

.portfoliop {
    font: "Oswald";
    font-size: 16px;
}

#abouttext {
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    position: relative;
    border: 1px black solid;
    padding: 20px;
    margin-top: 60px;
}


#backhome, #back2portfolio {
    text-align: center;
}


#contactme {
    font: "Oswald";
    font-size: 16px;
    max-width: 400px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    position: relative;
    padding: 20px;
    margin-top: 60px;
    align-content: center;
}


a:link {
    color: black;
}

a:visited {
    color: maroon;
}

a:active {
    color: darkblue;
}

a:hover {
    color:darkgray;
}

h2 {
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 0px;
    padding-right: 40px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
  
}


.box-wrapper {
    display: table;
    margin: 0 auto 0 auto;
    padding-top: 80px;
    border-spacing: 15px;
    
}

.box-row {
    display: table-row;
}


.box {
    display: table-cell;
    height: 0;
    padding-left: 50px;
    padding-right: 10px;
    border: none;
}


svg {
  width: 960px;
  height: 600px;
    overflow: hidden;
}


svg #illustrations {
  display: block;
  fill: #222222;
  transition: all 2s ease-in;
}


svg:hover #illustrations {
  fill: none;
  display: block;
  transition: all 2s ease-in;
}


.portfolioimage {
    width: 400px;
    height: 400px;
}

.portfolioimage:hover {
    opacity: 0.3;
    transition: 0.2s opacity ease-in;
}

.portfolioimagelarge {
    width: 40%;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.portfolioimagelarge2 {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.portfolioimagelarge3 {
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.portfolioimagelargehead {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

#newresume {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    position: relative;
    padding-bottom: -100px;
    overflow: auto;
}

    
    
    
    
    
    