@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display+SC:700');


#resumebody {
    background-color: white;
    font-family: "Oswald", sans-serif;  
}


header {
    position: relative;   
}


#container {
    background-color: white;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto 0 auto;  
}


.name {
    background-color: #d9d9d9;
    text-align: center;
    color: white;
    width: 960px;
    font-size: 40px;       
}


div.name p {
    display: block;
    background-color: #d9d9d9;
    text-align: left;
    color: white;
    float: left;
    margin-left: 50px;
    font-size: 18px;   
}


#selfie{
    margin-right: 2px;
    margin-left: 725px;
    margin-bottom: 50px;
    border: 2px solid rgba(255, 255, 255, .3);
    margin-top: -400px;
}

.resumeh1 {
    color: white;
    font-size: 140px;
    margin: 0;  
}


.h2resume{
    font-size: 30px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

h3{
    font-size: 12px;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
    font-family: sans-serif;
}


p {
    font-size: 14px;
    margin: 0;
    text-align: left;
}


.resumelist {
    font-size: 14px;
}


.sub {
    font-size: 28px;
}

#left-col {
    float: left;
    width: 280px;
    position: relative;
    margin-left: 10px;
    margin-right: -10px;
}

#middle-col {
    float: left;
    width: 280px;
    position: relative;
    left: 25px;
    border-left: 2px solid #b3b3b3;
    border-right: 2px solid #b3b3b3;
    padding-left: 25px;
    padding-right: 25px;
}

#right-col {
    float: left;
    width: 280px;
    position: relative;
    left: 50px;
    padding: 8px;
    margin-left: -10px;
}

.resumelinks:link {
  color: black;
}


.resumelinks:visited {
    color: maroon;
}

.resumelinks:hover {
    color: darkgrey;
}

,resumelinks:active {
    color: darkblue;
}

main {
    width: 960px;
}


#addresslist {
    list-style: none;
    background-color: #d9d9d9;
    text-align: left;
    color: white;
    width: 500px;
    font-size: 40;  
    float: left;
}



