@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display+SC:700');


#resumebody {
    background-color: white;
    font-family: "Oswald", sans-serif;  
}


header {
    position: relative;   
}

#newresume {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    position: relative;
    overflow: auto;
    padding-left: 380px;
}
