body{
    background-color: whitesmoke;
    font-family: "Oswald", sans-serif;
    
}

header {
    position: relative;
    padding-bottom: 10px;
    
}

#container {
    background-color: white;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    
}

div.name {
    background-color: black;
    text-align: center;
    color: white;
    width: 960px;
    font-size: 46px;
        
}

div.adresspicture {
    background-color: black;
    text-align: left;
    color: white;
    
}

#picture{
    float: right;
}

h1{
    color: white;
}

section{
    width: 300px;
    border: 25px black;
    padding: 25px;
    margin: 25px;
    outline-style: double;
}

h2{
    font-size: 26px;
    text-align: center;
    text-decoration-line: underline;
    font-family: "Playfair Display Sc", serif;
}

h3{
    font-size: 12px;
}

p {
    font-size: 14px;
}

a {
 color: white;
}

#drhome {
    color: grey;
    
}

#info {
    background-color: lightslategrey;
    color: white;
    text-align: center;
}

#sub {
    font-size: 28px;
}